body {
    background-color: rgb(194, 224, 235);
}

h1 {
    color:rgb(157, 214, 228);
    background-color: blueviolet;
    text-align: center;
}

h2,
h3 {
    background-color: rgb(161, 201, 216);
    text-align: center;
}

img {
    display: block;
    height: auto;
    width: 500px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

div {
    width: 600px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}