body {
    background-color: rgb(194, 224, 235);
}


h1 {
    color:white;
    background-color: blueviolet;
    text-align: center;
}

ul {
    background-color: rgb(194, 224, 235);
    color: darkblue;
}